<h1>Import a recipe</h1>

<form action="/queries" method="post">
  <div>
    <label for="name">What kind of recipes are you looking for?</label>
    <input type="text" name="keyword">
  </div>
  <input type="submit" value="Search">
</form>
