<h1>Import a recipe</h1>

<form action="/recipes" method="post">
  <div>
    <label for="name">Search</label>
    <input type="text" name="name">
  </div>
  <input type="submit" value="Search">
</form>
